/* .card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} */

/* .card-list__find-info {
    align-self: flex-start;
} */

/* .card-list__paginations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-list__pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
} */

.card__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}