.search {
    background: no-repeat url('../../../static/books-background.jpg');
    background-size: cover;
    background-position: top;
    height: 70vh;
    display: flex;
    position: relative;
}

.search__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 10px;
    height: 40px;
}

.search__wrapper img {
    position: absolute;
    left: 10px;
    top: 7px;
    width: 25px;
    height: 25px;
}

.search__input {
    flex: 1;
    background: var(--white);
    border: none;
    border-radius: 5px;
    color: var(--black);
    padding: 15px 30px 15px 50px;
}

.search__input::placeholder {
    color: var(--black);
}

.search button {
    border: none;
    background: var(--black);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
} 